.header{
	padding-top: 30px;
	padding-left: 30px;
}

.logo{
   display: inline-block;
   width: 100px;
   vertical-align: middle;
}

.navigation{
	display: inline-block;
	margin-left: 50px;
	vertical-align: middle;
}

.navigation ul li{
	display: inline-block;

}
.navigation ul li a{
	color: #3D58A6;
	padding: 0 13px; 

}
.navigation ul li a:hover{
	color:red;
}

.banner{
	width: 1170px;
	margin: 75px auto 0 auto;
	display: block;

}
